body{
    background-color: white;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.card{
    position: absolute;
    width: 770px;
    height: 1170px;
    top: 24px;
    left: 11px;
    box-shadow: 0px 2px 8px #00000029;
    transition: 0.3s;
    border-radius: 5px;
    opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.thumbnail{
    position: absolute;
    display:center;
    top: 324px;
    left: 41px;
    width: 42px;
    height: 42px;
    background: transparent url('assets/jamie.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px -2px 6px #00000029;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}
/*
img{
    position: absolute;
    top: 324px;
    left: 30px;
    width: 42px;
    height: 42px;
    border: 2px solid #FFFFFF;
    opacity: 1;
}
*/
.name{
    position: absolute;
    top: 327px;
    left: 94px;
    width: 94px;
    height: 17px;

    text-align: left;
    font: normal normal normal 12px/17px Noto Sans;
    font-size: 12px;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.work{
    position: absolute;
    top: 347px;
    left: 94px;
    width: 94px;
    height: 17px;

    text-align: left;
    font: normal normal normal 12px/17px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.heart{
    position: absolute;
    top: 327px;
    left: 729px;
    width: 20px;
    height: 18px;
    opacity: 1;
}

.bg{
    position: absolute;
    width: 791px;
    height: 1564px;
}

.hero{
    position: absolute;
    width: 770px;
    height: 270px;
    border-radius: 5px 5px 0px 0px;
    opacity: 1;
}

.rich-places{
    position: absolute;
    top: 379px;
    left: 41px;
    width: 459px;
    height: 40px;
    text-align: left;
    font: normal normal 300 24px/29px Montserrat;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.sed-ut{
    position: absolute;
    top: 424px;
    left: 41px;
    width: 710px;
    height: 110px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.first{
    position: absolute;
    height: 292px;
}

.read-more{
    position: absolute;
    top: 544px;
    left: 41px;
    width: 130px;
    height: 30px;
    text-align: left;
    font: normal normal normal 12px/17px Noto Sans;
    letter-spacing: 0px;
    color: #5A90BC;
    opacity: 1;
    text-decoration:none;
}

.block{
    position: absolute;
    top: 586px;
    left: 11px;
    width: 770px;
    height: 510px;
    background: #FFEDDA4C 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 5px 5px;
    opacity: 1;
    margin: 0;
}
.com{
    position: absolute;
    top: 616px;
    left: 41px;
    width: 108px;
    height: 14px;
    text-align: left;
    font: normal normal normal 11px/14px Montserrat;
    letter-spacing: 2.2px;
    color: #604731;
    opacity: 1;
}