body{
    background-color: white;
    line-height: 0;
    margin: 0;
}

.card{
    position: absolute;
    width: 770px;
    height: 1170px;
    top: 24px;
    left: 11px;
    box-shadow: 0px 2px 8px #00000029;
    transition: 0.3s;
    border-radius: 5px;
    opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.thumbnail{
    background: url('assets/ellipse-1.png');
    position: absolute;
    top: 313px;
    left: 36px;
    width: 56px;
    height: 58px;
    opacity: 1;
}
/*
img{
    position: absolute;
    top: 324px;
    left: 30px;
    width: 42px;
    height: 42px;
    border: 2px solid #FFFFFF;
    opacity: 1;
}
*/
.name{
    position: absolute;
    top: 327px;
    left: 94px;
    width: 94px;
    height: 17px;

    text-align: left;
    font: normal normal normal 12px/17px Noto Sans;
    font-size: 12px;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.work{
    position: absolute;
    top: 347px;
    left: 94px;
    width: 94px;
    height: 17px;

    text-align: left;
    font: normal normal normal 12px/17px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.heart{
    position: absolute;
    top: 327px;
    left: 729px;
    width: 20px;
    height: 18px;
    opacity: 1;
}

.bg{
    position: absolute;
    width: 791px;
    height: 1564px;
}

.hero{
    position: absolute;
    width: 770px;
    height: 270px;
    border-radius: 5px 5px 0px 0px;
    opacity: 1;
}

.tittle{
    position: absolute;
    top: 379px;
    left: 41px;
    width: 459px;
    height: 40px;
    text-align: left;
    font: normal normal 300 24px/29px Montserrat;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
    margin: 0;
}

.caption{
    position: absolute;
    top: 424px;
    left: 41px;
    width: 710px;
    height: 110px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
    margin: 0;
}

.first{
    position: absolute;
    height: 562px;
    width: 770px; 
}

.read-more{
    position: absolute;
    top: 544px;
    left: 41px;
    width: 130px;
    height: 30px;
    text-align: left;
    font: normal normal normal 12px/17px Noto Sans;
    letter-spacing: 0px;
    color: #5A90BC;
    opacity: 1;
    text-decoration:none;
    margin: 0;
}

.block{
    position: absolute;
    top: 586px;
    left: 11px;
    width: 770px;
    height: 510px;
    background: #FFEDDA4C 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 5px 5px;
    opacity: 1;
    margin: 0;
}

.com{
    position: absolute;
    top: 616px;
    left: 41px;
    width: 110px;
    height: 14px;
    text-align: left;
    font: normal normal normal 11px/14px Montserrat;
    letter-spacing: 2.2px;
    color: #604731;
    opacity: 1;
}

.thumbnail-2{
    position: absolute;
    top: 645px;
    left: 35px;
    width: 53px;
    height: 56px;
    background: transparent url('assets/import.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.name-2{
    position: absolute;
    top: 659px;
    left: 94px;
    width: 80px;
    height: 17px;
    font: normal normal normal 12px/17px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.work-2{
    position: absolute;
    top: 679px;
    left: 94px;
    width: 90px;
    height: 17px;
    font: normal normal normal 12px/17px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.reply-2{
    position: absolute;
    top: 672px;
    left: 727px;
    width: 24px;
    height: 24px;
    opacity: 1;
}

.on-the{
    position: absolute;
    top: 711px;
    left: 93px;
    width: 658px;
    height: 70px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
    margin: 0;
}

.thumbnail-s{
    position: absolute;
    top: 783px;
    left: 87px;
    width: 53px;
    height: 56px;
    background: transparent url('assets/ellipse-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 10px;
}

.name-s{
    position: absolute;
    top: 799px;
    left: 146px;
    width: 90px;
    height: 17px;
    text-align: left;
    font: normal normal normal 12px/17px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.work-s{
    position: absolute;
    top: 819px;
    left: 146px;
    width: 79px;
    height: 17px;
    text-align: left;
    font: normal normal normal 12px/17px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}
.reply-s{    
    position: absolute;
    top: 812px;
    left: 727px;
    width: 24px;
    height: 24px;
    opacity: 1;

}
.comment-s{
    position: absolute;
    top: 851px;
    left: 145px;
    width: 606px;
    height: 70px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
    margin: 0;
}

.thumbnail-3{
    position: absolute;
    top: 925px;
    left: 35px;
    width: 53px;
    height: 55px;
    background: transparent url('assets/mitchel.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.name-3{
    position: absolute;
    top: 939px;
    left: 94px;
    width: 87px;
    height: 17px;
    text-align: left;
    font: normal normal normal 12px/17px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.work-3{
    position: absolute;
    top: 959px;
    left: 94px;
    width: 62px;
    height: 17px;
    text-align: left;
    font: normal normal normal 12px/17px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.comment-3{
    position: absolute;
    top: 991px;
    left: 93px;
    width: 658px;
    height: 70px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
    margin: 0;
}

.reply-3{
    position: absolute;
    top: 952px;
    left: 727px;
    width: 24px;
    height: 24px;
    background: transparent url('img/ic_reply_black_24px.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.new-com{
    position: absolute;
    top: 1122px;
    left: 41px;
    width: 53px;
    height: 55px;
    background: transparent url('assets/ellipse-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.path-2{
    position: absolute;
    top: 1130px;
    left: 727px;
    width: 24px;
    height: 24px;
    opacity: 1;
}

footer{
    position: absolute;
    top: 1122px;
    left: 41px;
    width: 42px;
    height: 42px;
    margin: 0;
}

.foot-com{
    position: absolute;
    top: 1142px;
    left: 113px;
    width: 658px;
    height: 25px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #666666;
    opacity: 0.5;
    margin: 0;
}

.hr{
    position: absolute;
    height: 1px;
    top: 1168px;
    width: 583px;
    line-height: 13%;
    left: 113px;
    background-color: grey;

}